/*properties*/
.hidden{
    display: none
}
.view-content{
    margin: inherit;
}
body{
    overflow-x: hidden;
}
#home, #legend,#manager{
    width: inherit;
}

#legend{
    background-color: #3F3F3F;
    margin: 0;
    overflow: hidden;
    padding: 3em 0;
}
#home{
    
    
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: inherit;
    margin-top: 40px;
    align-items: center;
    position: relative;
   
}
.radio-image{
    width: 400%;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 665px;
}
.button-set{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform:  translateX(-50%);
    
}
/*====================
First team
====================*/
.roler{
    font-size: 30px;
    margin-bottom: 2em;
    margin-top: 2em;
    color: black;
    margin-left: -3em;
}
.roler::after{
    display: block;
    content: " ";
    
    height: 3px;
    width: 163px;
    background-color: red;
    
}
#first-team{
    position: relative;
    width: 66.66%;
    margin: 0 auto;
}
.position-names{
    font-weight: bold;
    font-size: 1.25em;
    color:black;
    border-bottom: solid rgb(216, 216, 216) 1px;
}
.sub-position{
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    
}
.position-btn{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    margin: 1em;
    position: relative;
    overflow: hidden;
}
.position-info{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.position-number{
    font-size: 10px
}
.position-number::after{
    display: block;
    content: " ";
    height: 1px;
    width: 20px;
    background-color: red;
    transition: 1s;
}
.position-name{
    width: 50%;
    font-size: 20px;
}
.position-img{
    width: 250px;
    transition: 1s;
    
}

.position-btn:hover{
    cursor: pointer;
}
.position-btn:hover .position-img{
    transform: scale(1.1);

}
.position-btn:hover .position-number::after{
    width: 40px;
}





/*==========================
MANAGER
==========================*/
#manager{    
    color: white;
    padding-bottom: 1em;
    
}
.manager-visual{
    width: inherit;
    display: flex;
    justify-content: center;
    background-color: #3F3F3F;
    padding-top: 3em;
}
.visual-message{
    
    width: 70%;
    font-size: 1.5em;
    font-style: italic;
    font-weight: lighter;
}
.role{
    padding-bottom: 1em;
    font-size: 1.9em;
    position: relative;
    top: -1.5em;

}
.role::after{
    display: block;
    content: " ";
    height: 3px;
    width: 150px;
    background-color: red;
}
.role-name{
   
    font-size: 1.6em;
    width: 70%;
}
.visual-image img{
    width: inherit;
    align-self: flex-end;
    
}
.manager-visual-items{
    flex-basis: 20%;
}
.visual-image{
    display: flex;
    align-self: flex-end;
}
.visual-text{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.visual-name{
    text-transform: uppercase;
}
.visual-statics{
    display: flex;
    flex-direction: column;
}
.visual-statics .number{
    display: block;
    font-size: 20px;
}
.match,.wins,.trophies{
    margin-bottom: 2em;
}
.manager-info{
    width: 60%;
    margin: 3em auto;
    color: black;
}
.info-bio{
    border-bottom: grey solid 1px;
}
.info-bio .bio-title{
    text-transform: uppercase;
    color: grey;
}
.bio-text{
    text-transform: none;
}
.info-shortcut{
    display: flex;
    text-transform: capitalize;
    
}
.shortcut-items{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    
}
.sub-items{
    flex: 1;
}
.items-title{
    color: grey;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0;
    margin-bottom: 0;
}
.items-date{
    font-size: 1.5em;
    color: red;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
}
.norway{
    position: relative;
    top: 0.5em;
    padding-right: 0.5em;
}




#legend .role{
    color: white;
    position: relative;
    left: 130px;
    top: -20px;
}
#legend .role::after{
    width: 130px;
}
.radio-set input{
    display: none;   
}
.image-items{
    width: 25%;
    transition: 1s;
}

.btn-radio{
    width: 15px;
    height: 15px;
    border: solid rgb(255, 8, 8) 2px;
    border-radius: 50%;
    transition: 0.5s;
}
.btn-radio:hover{
    cursor: pointer;
    background-color: red;
}
.btn-radio + .btn-radio{
    margin-left: 2em;
}

.radio1{
    margin-left: 0;

}
.radio2{
    margin-left: -25%;

}
.radio3{
    margin-left: -50%;

}
.radio4{
    margin-left: -75%;

}
/*=====================
sub-buton(click to show the large window
=======================================*/
.sub-button{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(78, 73, 73);
    overflow: hidden;
    position: relative;
    
}
.btn {
    margin: 20px;
}
.btn::after{
    content: " ";
    display: block;
    width: 200px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
}
.btn-image{
    width: 100%;
    transition: 1s;
    
    
}
.btn-name{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    z-index: 1;
    bottom: 0;
    left: 10%;
}
.btn-name::before{
    display: block;
    content: " ";
    height: 2px;
    background-color: red;
    width: 50%;
    transition: 1s;
}
.btn:hover .btn-name::before{
    width: 100%;
}
.btn:hover {
    cursor: pointer;
}
.btn:hover .btn-image{
    transform: scale(1.1);
}
/*infomatin zoom window*/
.info-zoom{
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-42%,-50%);
    z-index: 995;
    animation: fadein ease 1s;   
 }
 @keyframes fadein{
    from{
        
        opacity: 0;
    }
    to{
        
        opacity: 1;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 990;
    
  }
/*Visual*/
.background{
    position: absolute;
    width: 280px;
    height: 450px;
    background-color: rgb(189, 11, 11);
    display: flex;
    border-radius: 10px 0px 0 10px ;
    
}
.image{
    margin: auto;
    position: absolute;
    width: 420px;
    left: -7rem;
    z-index: 9;
    bottom: 0;
 
    
}
.general-text {
    z-index: 1100 !important;
}
.info-text{
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-left: 17em;
    top: 76px;
    left: 28%;
    width: 900px;
    height: 450px;
    background-color: white;
    z-index: 998;
}

.info-bar{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    padding-left: 4em;
}
.info-items{
    flex: 1;
    padding: 0.5em;
    background-color: rgb(75, 69, 69);
    transition: all 0.5s;
    color: white;
}
.info-items:hover{
    cursor: pointer;
    background-color: rgb(209, 56, 56);
}
.info-items + .info-items{
    border-left: 2px white solid;
}
.info-items--background{
    background-color: red;
}
.info-content{
    padding-left: 2em;
    z-index: 2000;
}
/*inside items*/
.legendCup{
    padding-left: 2px;
}
/*general edit*/

.info-general,.info-title{
    text-transform: none;
    color: black;
    animation: fadein ease 1s;
}
.legend-name{
    font-size: 30px;
    font-weight: bold;
    padding-top:1rem;
}
.legend-birth{
    padding-top:1.5rem;
}
/*Nationality*/
.nation{
    margin: 0;
}
.nation-image{
    width: 40px;
    position: relative;
    top: 10px;
    left: 10px;
}
.nation-name{
    position: relative;
    left: 15px;
    font-weight: normal;
    text-transform: capitalize;
}
/*statics*/
.statics{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.appearance,.goal{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
.general-text{
    font-style: italic;
    opacity: 0.7;
}
.wrap{
    margin: 0;
}
.toast__times {
    color: rgb(71, 55, 55);
    opacity: 0.2;
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 5%;
    display: inline;
    font-size: 20px;
    box-sizing: content-box;
    transition: 0.5s;
    
  }
  .toast__times:hover{
      opacity: 1;
      cursor: pointer;
  }
/*moble*/
/* @media only screen and (max-width: 46.1875em){
    body{
        width: 360px;
        overflow-x: hidden;
        
    }
    #home{
        width: 400%;
        height: 250px;
        position: relative;
        overflow: hidden;
    }
    .button-set{
        position: absolute;
       left: 12.5%;
       transform: translateX(-50%);
       bottom: 10px;

    }
    .image-items{
        width: 25%;
    }
    #legend{
        width: 100%;
    }
    .info-zoom{
        
        width: inherit;
    }
    .background{
        width: inherit;
        position: fixed;
        top: -350px;
    }.info-text{
        width: inherit;
        position: fixed;
        top: -100px;
        left: 0;
        padding: 0;
        height: 500px;
    }
    .toast__times{
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 9999;
        width: 30px;
    }
    .btn{
        margin: 1em 0;
        width: 150px;
        height: 150px;
    }
    .header{
        width: 360px;
        overflow: hidden;
    }
}  */
footer{
    position: relative;
}
footer .contact{
    position: absolute;
    display: flex;
    bottom: 20%;
    right: 5%;
}
.contact-items{
    font-size: 20px;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 1em;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    margin: 0 0.5em;
    transition: 0.7s;
   
}
.contact-items:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}